@keyframes goldenBorder {
    0% {border-color: #7b702c; background-color: #fbe35945;}
    33% {border-color: #bebe3b; background-color: #ffec9745;}
    66% {border-color: #fbe359; background-color: #fbe35945;}
    100% {border-color: #a1a133; background-color: #ffec9745;}
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    height: 97.5dvh;
}

.heading {
    width: 100%;
    height: clamp(50px, 12.5%, 1250px)
}

.streak {
    height: 100%;
}

.inc {
    animation: 1.5s ease-in-out infinite goldenBorder;
}

.goHome {
    display: block;    
}

.box {
    display: flex;
    width: 50%;
    position: relative;
    overflow: hidden;
}

.habits {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: clamp(320px, 80%, 8000px);
    padding-bottom: 0px;
}
/* vh 420px - 450px have footer overlapping body content*/
@media screen and (max-height: 420px) {
    .habits { 
        padding-bottom: 30px;
    }
}

.footer {
    width: 100%;
    height: 7.5%;
    min-height: 30px;
    height: clamp(30px, 7.5%, 750px);
}

.ftrbtn {
    height: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgb(65, 71, 54);
    font-size: 1em;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100%;
    margin: 1px;
}

button:hover {
    border-color: #ffe864;
}

button:focus, 
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.done {
    background-color: rgb(0, 128, 0, .25);
}

.list {
    text-align: left;
}

.rule {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color:#1a1a1a95;
    width: 99%;
    height: 98%;
    transition: all 400ms ease-out;
    border-radius: 8px;
    border: 1px solid #ffe864;
}

.text {
    width: 70%;
    display: inline-block;
    margin-top: 60px;
}

.box .rule .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}